# Sublime files
*.sublime*

# Mac OS X files
*.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Node modules. To install: npm install. This 
# command will install the dependencies founded
# in package.json
node_modules/
npm-debug.log
