
body{
/*eliminar las mierdas de saltos y blancos*/
	margin:0;
	display:inline;
	font-size: 1em;
	font-family: arial,sans-serif;
	background-color:#B0E5FF;
}
/*
#Encapsulado{
	display: inline;
	width:100%;
	height:100%;
	margin:0px;
	
}*/

#menu {
	
	background-color: #000000;
	position: fixed;
	padding:0;
	margin:0;
	width: 100%;
	height:auto;
	min-width:900px
	
}
#contenido{
	
	width:auto;
	padding:20px;
	margin-top:35px

}

.ImagenPerfil{
	float: right
}

#listaMenu li {
	padding:0;
	margin:0;
    display: inline
	
}

#listaMenu li a {
   
	padding-top:0px;
    padding-left: 10px; 
	padding-right: 10px; 
	padding-bottom: 10px; 
    height: 25px;
    float: left;
	color:#ffffff;
	text-align:center
	
}
#listaMenu li a:hover {  
    background-color: #424242;  
    margin-top:-2px;  
    padding-bottom:12px;  
} 
#buscar{
	padding-top:0px;
    padding-left: 10px; 
	padding-right: 10px; 
	padding-bottom: 10px; 
	margin-right:30px;
    height: 25px;
    float: right;
	color:#ffffff;
	text-align:center
}

#menuInicio{
	display:inline-table;
	width:100%;
	background-color: #000000;
	padding:0;
	margin:0;
	height:70px;
	min-width:900px
	
}

#listaLogin{
	
	padding-top:0px;
    padding-left: 10px; 
	padding-right: 10px; 
	padding-bottom: 10px; 
	margin-right:30px;
	color:#ffffff;
	text-align:center
	
}


#logo  {
	display:inline;
	font-size: 4em;
	float: left
}

#login {
	display:inline;
    float: right;

}

#registro{
text-align:center;
font-size: 2em;
   
}
#registro a{
background-color:#000000;
color: #ffffff;
padding:3px;
border-radius: 10px


}

#pieDePagina{
text-align:center

}


