extends layout

block contentBlock
	.contenido
		h2 #{title}
			form(method='post')
				p
					label(for="name") Nombre:
						input(type='text', name='name', value="")

				p
					link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
					script(src='http://code.jquery.com/jquery-1.9.1.js')
					script(src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
					link(rel='stylesheet', href='/resources/demos/style.css')
					script
						$(function() {
							$( "#datepicker" ).datepicker({
							changeMonth: true,
							changeYear: true
							});
						});

					label(for="date") Fecha:
						input#datepicker(type='text', name='date', value="")
					label(for="time") Hora: 
						input(type='text',name='time',size=5,value="")

				p
					label(for="price") Precio:
						input(type='number', name='price', value="")

				p
					label(for="province") Provincia: 
						select (name='province')
							option(value='0') - selecciona -
							option(value='1') A Coruña
							option(value='2') Álava
							option(value='3') Albacete
							option(value='4') Alicante
							option(value='5') Almería
							option(value='6') Asturias
							option(value='7') Ávila
							option(value='8') Badajoz
							option(value='9') Baleares
							option(value='10') Barcelona
							option(value='11') Burgos
							option(value='12') Cáceres
							option(value='13') Cádiz
							option(value='14') Cantabria
							option(value='15') Castellón
							option(value='16') Ceuta
							option(value='17') Ciudad Real
							option(value='18') Córdoba
							option(value='19') Cuenca
							option(value='99') Extranjero
							option(value='20') Girona
							option(value='21') Granada
							option(value='22') Guadalajara
							option(value='23') Guipúzcoa
							option(value='24') Huelva
							option(value='25') Huesca
							option(value='26') Jaén
							option(value='27') La rioja
							option(value='28') Las palmas
							option(value='29') León
							option(value='30') Lleida
							option(value='31') Lugo
							option(value='32') Madrid
							option(value='33') Málaga
							option(value='34') Melilla
							option(value='35') Murcia
							option(value='36') Navarra
							option(value='37') Ourense
							option(value='38') Palencia
							option(value='39') Pontevedra
							option(value='40') Salamanca
							option(value='41') Santa cruz de tenerife
							option(value='42') Segovia
							option(value='43') Sevilla
							option(value='44') Soria
							option(value='45') Tarragona
							option(value='46') Teruel
							option(value='47') Toledo
							option(value='48') Valencia
							option(value='49') Valladolid
							option(value='50') Vizcaya
							option(value='51') Zamora
							option(value='52') Zaragoza
				p
					label(for="category") Tipo de evento: 
						select(name='category')
							option(value='') - Selecciona -
							option(value='movie') Pelicula
							option(value='theatre') Obra de teatro
							option(value='concert') Concierto
							option(value='party') Fiesta
							option(value='meeting') Reunión
				p
					input(type='submit', value='Crear evento')

