extends layout

block contentBlock

        div.formcreate.form(method='post', id="form_create_event")
            div.about.span3
                p
                    h2 Sobre el evento
                    label(for="name") Nombre: 
                        input(type='text', name='name', value="").field_name
                    label(for="description") Descripción: 
                        input(type='text', name='description', value="").field_description
                    label(for="category") Tipo de evento: 
                        select(name='category').field_category
                            option(value='leisure') Ocio
                            option(value='comedy') Comedia/Monólogos
                            option(value='cinema') Cine
                            option(value='concert') Concierto
                            option(value='conference') Conferencia
                            option(value='cultural') Cultural
                            option(value='competition') Concurso
                            option(value='sport') Deportivo
                            option(value='trip') Excursión
                            option(value='exhibition') Exposición
                            option(value='party') Fiesta
                            option(value='musical') Musical
                            option(value='meeting') Reunión
                            option(value='theatre') Teatro
                    label(for="capacity") Capacidad:
                        input(type='number', name='capacity', value="").field_capacity
                    label(for="price") Precio: 
                        input(type='number', name='price', value="").field_price
            .when.span3
                p
                    h2 Cuándo
                    script
                        $(function() {
                            $("#datepicker").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                minDate: 1,
                                dateFormat: 'dd/mm/yy'
                            });
                            $('#timepicker').timepicker();
                            $(".field_price").numeric( { decimal : ",", negative : false });
                            $(".field_capacity").numeric( { decimal : ",", negative : false });
                        });
                    label(for="date") Fecha:
                        input#datepicker(type='text', name='date', value="").field_date
                    label(for="time") Hora: 
                        input#timepicker(type='text', name='time', value="").field_time
            where.span3
                p
                    h2 Dónde
                    label(for='city') Localidad:
                        input(type='text', name='city', value='').field_city
                    label(for="province") Provincia: 
                        select(name='province').field_province
                            option(value='1') A Coruña
                            option(value='2') Álava
                            option(value='3') Albacete
                            option(value='4') Alicante
                            option(value='5') Almería
                            option(value='6') Asturias
                            option(value='7') Ávila
                            option(value='8') Badajoz
                            option(value='9') Baleares
                            option(value='10') Barcelona
                            option(value='11') Burgos
                            option(value='12') Cáceres
                            option(value='13') Cádiz
                            option(value='14') Cantabria
                            option(value='15') Castellón
                            option(value='16') Ceuta
                            option(value='17') Ciudad Real
                            option(value='18') Córdoba
                            option(value='19') Cuenca
                            option(value='99') Extranjero
                            option(value='20') Girona
                            option(value='21') Granada
                            option(value='22') Guadalajara
                            option(value='23') Guipúzcoa
                            option(value='24') Huelva
                            option(value='25') Huesca
                            option(value='26') Jaén
                            option(value='27') La rioja
                            option(value='28') Las palmas
                            option(value='29') León
                            option(value='30') Lleida
                            option(value='31') Lugo
                            option(value='32') Madrid
                            option(value='33') Málaga
                            option(value='34') Melilla
                            option(value='35') Murcia
                            option(value='36') Navarra
                            option(value='37') Ourense
                            option(value='38') Palencia
                            option(value='39') Pontevedra
                            option(value='40') Salamanca
                            option(value='41') Santa cruz de tenerife
                            option(value='42') Segovia
                            option(value='43') Sevilla
                            option(value='44') Soria
                            option(value='45') Tarragona
                            option(value='46') Teruel
                            option(value='47') Toledo
                            option(value='48') Valencia
                            option(value='49') Valladolid
                            option(value='50') Vizcaya
                            option(value='51') Zamora
                            option(value='52') Zaragoza
                    label(for='postalCode') Código postal:
                        input(type='number', name='postalCode', value='').field_postalCode
                    label(for='address') Dirección:
                        input(type='text', name='address', value='').field_address
                p
                    div.buttoncreate.a().create_event.btn Crear evento

        form(action="/upload", id="upload", method="POST", enctype="multipart/form-data")
            .upload.span3
                div.photocreateevent
                    img(src="img/eventDefault.png", alt="").image
                    p.text Imagen por defecto
                div.filechooser
                    input(type='file', name='eventImage').file_chooser
                div.buttonuploadimage
                    input.btn(type='submit', value='Subir imagen')
              

block javascript
    script(type="text/javascript", src="js/jquery.form.js")
    script(type="text/javascript", src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
    script(type="text/javascript", src="js/jquery.ui.timepicker.js")
    script(type="text/javascript", src="js/jquery.numeric.js")
    script(type='text/javascript')
        $(document).ready(function() {
            $('a.create_event').click( function () {

                var arrayDate = $("#form_create_event .field_date").val().split("/");
                var arrayTime = $("#form_create_event .field_time").val().split(":");
                var date = new Date(arrayDate[2], arrayDate[1], arrayDate[0], arrayTime[0], arrayTime[1]);
                var data = {
                    title: $("#form_create_event .field_name").val(),
                    finishAt: date.getTime(),
                    price: $("#form_create_event .field_price").val(),
                    city: $("#form_create_event .field_city").val(),
                    province: $("#form_create_event .field_province").val(),
                    postalCode: $("#form_create_event .field_postalCode").val(),
                    address: $("#form_create_event .field_address").val(),
                    category: $("#form_create_event .field_category").val(),
                    imageName: $("#upload .file_chooser").val().split(/(\\|\/)/g).pop(),
                    capacity: $("#form_create_event .field_capacity").val(),
                    description: $("#form_create_event .field_description").val()
                }

                $.ajax({
                    type: "POST",
                    url: "/api/event",
                    data: data,
                    success: function () {
                        window.location.href = '/';
                    }
                });
            });

            // bind 'myForm' and provide a simple callback function
            var options = {
                success: function(name) {
                    $('img.image').attr('src', 'img/' + name);
                    $('p.text').text('Imagen subida con éxito');
                },
                error: function(text) {
                    if (text.responseText) {
                        $('p.text').text(text.responseText);
                    } else {
                        $('p.text').text('Ha habido un error. Vuelve a intentarlo.');
                    }
                }
            };
            $('#upload').ajaxForm(options);
        });

