extends layout
//By Alex
block contentBlock

	.container
		h1 Quieres descubrir eventos nuevos?
		
		div.row
			div.span5
				| Busca nuevos eventos por :
				span
					input(type='text', name='buscarLugar', value='Introduce un lugar', size='30%')
				| Madrid, Barcelona, Valencia...
				span
					input(type='text', name='buscarPrecio', value='Introduce un rango de precios', size='30%')
				|Menos de 30, entre 10 y 20...
				span
					input(type='text', name='buscarFecha', value='Introduce una fecha', size='30%')
				|Esta semana, el proximo mes,
				|una fecha en concreto...
				span
					input(type='text', name='buscarTipo', value='Introduce un tipo de evento', size='30%')
				|Festival, Concierto...
				span
					input(type='text', name='buscarTipo', value='Introduce un tipo de evento', size='30%')
				
			.botonBuscar
				input(type='button', value='Buscar coincidencias')
			
		div.tablonEventosEncontrados
			.linea
			.pEvento
				|Resultados de la busqueda:
			
			
