extends layout
//By Alex
block contentBlock

	.container
		h1 Quieres descubrir eventos nuevos?
		
		div.row
			div.span5
				| Busca nuevos eventos por :
				span
					input(type='text', name='buscarLugar', value='Introduce un lugar', size='30%')
				| Madrid, Barcelona, Valencia...
				span
					input(type='text', name='buscarPrecio', value='Introduce un rango de precios', size='30%')
				|Menos de 30, entre 10 y 20...
				span
					link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
					script(src='http://code.jquery.com/jquery-1.9.1.js')
					script(src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
					link(rel='stylesheet', href='/resources/demos/style.css')
					script
							$(function() {
								$( "#datepicker" ).datepicker({
								changeMonth: true,
								changeYear: true
								});
							});
					form.descubrirFecha
					input#datepicker(type='text', name='buscarFecha', value='Introduce una fecha', size='30%')
				|Esta semana, el proximo mes,
				|una fecha en concreto...
				span
					input(type='text', name='buscarTipo', value='Introduce un tipo de evento', size='30%')
				|Festival, Concierto...
				span
					input(type='text', name='buscarTipo', value='Introduce un tipo de evento', size='30%')
				
			.botonBuscar
				input(type='button', value='Buscar coincidencias')
			
		div.tablonEventosEncontrados
			.linea
			.pEvento
				|Resultados de la busqueda:
			
			
