extends layout

block contentBlock

    form(action="/upload", id="upload", method="POST", enctype="multipart/form-data")
        input(type='file', name='eventImage')
        input(type='submit', value='submit').btn

    .container
        img(src="img/eventDefault.png", alt="").image
        p.text Imagen por defecto




block javascript
    script(type="text/javascript", src="js/jquery.form.js")
    script
        // wait for the DOM to be loaded
        $(document).ready(function() {
            // bind 'myForm' and provide a simple callback function
            var options = {
                success: function(name) {
                    $('img.image').attr('src', 'img/' + name);
                    $('p.text').text('Imagen subida con éxito');
                },
                error: function(text) {
                    if (text.responseText) {
                        $('p.text').text(text.responseText);
                    } else {
                        $('p.text').text('Ha habido un error. Vuelve a intentarlo.');
                    }
                }
            };
            $('#upload').ajaxForm(options);
        });
