extends layout

block contentBlock
    
    .container
        if (user)
            h1 Bienvenido, #{user.username}
        else
            h1 Bienvenido a Biljet
            .row
                p.span3
                    | ¿Necesitas organizar un evento? Con Biljet podrás tener siempre un plan al que recurrir.
                    | ¡Conciertos, fiestas, actuaciones tan cerca de ti como entrar en nuestra web!
                p.span3
                    | Biljet te permite prescindir de una entrada de papel ¡saca partido a tu smartphone!
                    | Descárgate nuestra aplicación Android:
                    a(href="https://www.dropbox.com/s/dux49cxcscp4dwb/BiljetAppBETA.apk", target="_blank")
                        img(src="https://s3-eu-west-1.amazonaws.com/biljet/google_play_logo.png", alt="Google Play")
                p.span3
                    | Y si nos quieres ayudar, nos sería muy útil que rellenases esta 
                    a(href="http://www.e-encuesta.com/answer.do?testId=NRVoBd8Gato=&chk=1", target="_blank") encuesta.
                p.span2.offset1
                    img(src="images/illustrations/clipboard.png", alt="Registrate")
                    a(href='/signup', title='crea un cuenta nueva').btn.btn-large.btn-block Únete


        .row
            .events
block javascript
    script(type='text/javascript')
        $.getJSON('/api/event', function (data) {
            drawEvents(data);
        });

        $('.search').click( function () {
            $.getJSON('/api/event/province/3', function (data) {
                drawEvents(data);
            });
        });

        function drawEvents (data) {
            var eventTemplate = '' +
                '<div class="event tile">' +
                    '<img src="#" />' +
                    '<h4 class="title"><a.link></a></h4>' +
                    '<p class="price"></p>' +
                '</div>';
            var $container = $('.events');
            var i, len;
            len = data.length;
            //- DEBUG
            //- if (len > 10) {
            //-     len = 10;
            //- }
            for (i = 0; i < len; i++) {
                var event = data[i];
                console.log(event, "event: ");
                var $el = $(eventTemplate);

                $el.find('img')
                    .attr('src', 'https://s3-eu-west-1.amazonaws.com/biljet/' + event.imageName);

                $el.find('.title')
                    .html('<a href="/event/' + event._id + '">' + event.title + '</a>');

                $el.find('a.link')
                    .attr('href', '/event/' + event._id);

                $el.find('.price')
                    .text("Precio: " + event.price + "€.");

                if (event.attendee.length > 3) {
                    $el.addClass('tile-hot');
                }

                $container.append($el);
            }
        }
