extends layout

block contentBlock
    
    .container
        if (user)
            h1 Bienvenido, #{user.username}
        else
            h1 Bienvenido a Biljet
            .row
                p.span3
                    | ¿Necesitas organizar un evento? Con Biljet podrás tener siempre un plan al que recurrir.
                    | ¡Conciertos, fiestas, actuaciones tan cerca de ti como entrar en nuestra web!
                p.span3
                    | Biljet te permite prescindir de una entrada de papel ¡saca partido a tu smartphone!
                    | Descárgate nuestra 
                    a(href="https://dl.dropbox.com/u/16354811/Android/BiljetApp.apk", target="_blank") aplicación Android. 
                    | Este es el 
                    a(href="https://docs.google.com/document/d/1KD9JHae4pCk8_5aaSC275iKWxxVDiXgzBLPrrVeFF6A", target="_blank") manual de Android, 
                    | y 
                    a(href="https://docs.google.com/document/d/1q1cC1xpOdYpBbdppGrCRM8vGoPBPyLCfmkdQFR9LPJ4", target="_blank") este el de la web.
                p.span3
                    | Y si nos quieres ayudar, nos sería muy útil que rellenases esta 
                    a(href="http://www.e-encuesta.com/answer.do?testId=NRVoBd8Gato=&chk=1", target="_blank") encuesta.
                p.span2.offset1
                    img(src="images/illustrations/clipboard.png", alt="Registrate")
                    a(href='/signup', title='crea un cuenta nueva').btn.btn-large.btn-block Únete

        .row
            h4 Ésta es una pequeña muestra de los eventos que puedes encontrar en Biljet:
        
        .row
            p.span3.offset1
                label(for="province") Provincia: 
                    select (name='province')
                        option(value='0') - selecciona -
                        option(value='1') A Coruña
                        option(value='2') Álava
                        option(value='3') Albacete
                        option(value='4') Alicante
                        option(value='5') Almería
                        option(value='6') Asturias
                        option(value='7') Ávila
                        option(value='8') Badajoz
                        option(value='9') Baleares
                        option(value='10') Barcelona
                        option(value='11') Burgos
                        option(value='12') Cáceres
                        option(value='13') Cádiz
                        option(value='14') Cantabria
                        option(value='15') Castellón
                        option(value='16') Ceuta
                        option(value='17') Ciudad Real
                        option(value='18') Córdoba
                        option(value='19') Cuenca
                        option(value='99') Extranjero
                        option(value='20') Girona
                        option(value='21') Granada
                        option(value='22') Guadalajara
                        option(value='23') Guipúzcoa
                        option(value='24') Huelva
                        option(value='25') Huesca
                        option(value='26') Jaén
                        option(value='27') La rioja
                        option(value='28') Las palmas
                        option(value='29') León
                        option(value='30') Lleida
                        option(value='31') Lugo
                        option(value='32') Madrid
                        option(value='33') Málaga
                        option(value='34') Melilla
                        option(value='35') Murcia
                        option(value='36') Navarra
                        option(value='37') Ourense
                        option(value='38') Palencia
                        option(value='39') Pontevedra
                        option(value='40') Salamanca
                        option(value='41') Santa cruz de tenerife
                        option(value='42') Segovia
                        option(value='43') Sevilla
                        option(value='44') Soria
                        option(value='45') Tarragona
                        option(value='46') Teruel
                        option(value='47') Toledo
                        option(value='48') Valencia
                        option(value='49') Valladolid
                        option(value='50') Vizcaya
                        option(value='51') Zamora
                        option(value='52') Zaragoza

            p.span3.offset1
                label(for="category") Categoría:
                    select(name='category')
                            option(value='') - Selecciona -
                            option(value='Cinema') Película
                            option(value='Theatre') Obra de teatro
                            option(value='Concert') Concierto
                            option(value='Party') Fiesta
                            option(value='Meeting') Reunión
                            option(value='Other') Otros

            a(title='Buscar').btn.btn-large.submit.span1.search Buscar

        .row
            .events
block javascript
    script(type='text/javascript')
        $.getJSON('/api/event', function (data) {
            drawEvents(data);
        });

        $('.search').click( function () {
            $.getJSON('/api/event/province/3', function (data) {
                drawEvents(data);
            });
        });

        function drawEvents (data) {
            var eventTemplate = '' +
                '<div class="event tile">' +
                    '<img src="#" />' +
                    '<h4 class="title"><a.link></a></h4>' +
                    '<p class="price"></p>' +
                '</div>';

            var $container = $('.events');
            var i, len;
            len = data.length;
            //- DEBUG
            //- if (len > 10) {
            //-     len = 10;
            //- }
            for (i = 0; i < len; i++) {
                var event = data[i];
                var $el = $(eventTemplate);

                $el.find('img')
                    .attr('src', 'img/' + event.imageName);
                    console.log($el.find('img').attr('src'));

                $el.find('.title')
                    .html('<a href="/event/' + event._id + '">' + event.title + '</a>');

                $el.find('a.link')
                    .attr('href', '/event/' + event._id);

                $el.find('.price')
                    .text("Precio: " + event.price + "€.");

                randomInt = Math.floor(Math.random() * 10);
                if (randomInt > 6) {
                    $el.addClass('tile-hot');
                }

                $container.append($el);
            }
        }
