!!! 5
html
    head
        title Biljet
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        meta(name='keywords', content='HTML , CSS')
        meta(name='descripcion', content='web de gestion de entradas')
        meta(name='autor', content='grupo de IS this IS sparta')
        script(type="text/javascript", src='js/jquery-1.9.1.min.js')
        script(type="text/javascript", src='js/jquery.signup.js')
        script(type="text/javascript", src='js/md5.js')
        //- script(type='text/javascript')
        //-   less.env = "development";
        //-   less.watch();


body

.menuInicio
      ul#nav_bar
        li
          img(class="logo", src="img/logo.png", alt="Biljet")
        li
          a(href='/') Home
        li
          a(href='/social') Social
        li
          a(href='/discover') Descubrir
        li
          a(href='/create') Crear Evento
        li
          a(href='/login') Login

.contenidoTab
      block contentBlock

.pieDePagina
      p
      | Creado por el grupo This IS sparta (añadir mas cosas si fuera necesario)
