!!! 5
html
    head
        title Biljet
        //- link(rel='stylesheet', type='stylesheet/css', href='/css/bootstrap.css')
        //- link(rel='stylesheet', type='stylesheet/css', href='/css/style.css')
        link(rel='stylesheet/less', type='text/css', href='/css/bootstrap.less')
        link(rel='stylesheet/less', type='text/css', href='/css/style.less')
        meta(name='keywords', content='HTML , CSS')
        meta(name='descripcion', content='web de gestion de entradas')
        meta(name='autor', content='grupo de IS this IS sparta')
        script(type="text/javascript", src='js/jquery-1.9.1.min.js')
        script(type="text/javascript", src='js/jquery.signup.js')
        // script(type="text/javascript", src='js/jquery-ui-1.10.0.custom.min.js')
        // script(type="text/javascript", src='js/jquery.dropkick-1.0.0.js')
        script(type="text/javascript", src='js/less-1.3.3.min.js')
        script(type="text/javascript", src='js/md5.js')

        script(type='text/javascript')
            less.env = "development";
            less.watch();


body
    .topbar
        div#nav_bar_left
            div.item
                a(href='/')
                    img(class="logo", src="img/logo.png", alt="Biljet")
        div#nav_bar_right
            .navbar.navbar-inverse
                .navbar-inner
                    ul.nav
                        li
                            a(href='/')
                                span.fui-location-24
                                |  Home
                        li
                            a(href='/social')
                                span.fui-man-24
                                |  Social
                        li
                            a(href='/discover')
                                span.fui-heart-24
                                |  Descubrir
                        li
                            a(href='/create')
                                span.fui-plus-24
                                |  Crear Evento
                        li
                            a(href='/login')
                                span.fui-lock-24
                                |  Login
                        li
                            a(href='/signup')
                                span.fui-new-24
                                |  Registro
        div.clear

    .content
        block contentBlock

    .bottombar
        | IS - 2012/2013

block javascript
