extends layout

block contentBlock

     
        div.formlogin.form(action='/login', method='post', id="form_login")
            div.logintittle
                h1 LOGIN
            div
                input(type='text', placeholder='Usuario').field_username
            div
                input(type='password', placeholder='Contraseña').field_password
            div.buttonlogin
                a(title='Login').btn.btn-large.submit Login

            .error_message

block javascript
    script(type='text/javascript')
        $(document).ready(function() {
            $('.submit').click(function () {

                var data = {
                    username: $("#form_login .field_username").val(),
                    password: CryptoJS.MD5($('#form_login .field_password').val()).toString(),
                }

                console.log(data, "data; ");
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: data,
                    statusCode: {
                        200: function() {
                            window.location.href= "/";
                        }
                    },
                    error: function() {
                        $('.error_message').text("Datos incorrectos. Vuelve a intentarlo.");
                    }
                    //- success: function () {
                    //-     window.location.href = '/';
                    //- }
                });            
            });
        });
