extends layout

block contentBlock

    form(action='/login', method='post', id="form_login")
        div
            label Username:
            input(type='text', name='username').field_username
        div
            label Password:
            input(type='password', name='password').field_password
        div
            input(type='submit', value='Log In')

    if (error)
        h3 Usuario o contraseña incorrectos