
extends layout

block javascript
  script(type='text/javascript')
    var map,
    mlat = -12.043333,
    mlng = -77.028333;
    $(document).ready(function(){
      map = new GMaps({
      el: '#map',
      lat: -12.043333,
      lng: -77.028333
      });
      GMaps.geocode({
      address: "C/Pablo Iglesias, 3 Tarancón" ,
      callback: function(results, status){
      if(status=='OK'){
      var latlng = results[0].geometry.location;
      map.setCenter(latlng.lat(), latlng.lng());
      map.addMarker({
      lat: latlng.lat(),
      lng: latlng.lng()
      });
      }
      }
      });
      });

block contentBlock
  h1 Mapa de prueba
    .row
      #map
