extends layout

block javascript
  script(type='text/javascript')
    var map;
    $(document).ready(function() {
      map = new GMaps({
        el: '#map',
        lat: 40.009012,
        lng: -3.018322,
        zoomControl : true,
        zoomControlOpt: {
          style : 'SMALL',
          position: 'TOP_LEFT'
        },
        panControl : false,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false
      });
    });

block contentBlock
  h1 Mapa de prueba
  .row
    #map