extends layout

block javascript
  script(type='text/javascript')
    var map;
    $(document).ready(function() {
      map = new GMaps({
        el: '#map',
        lat: 40.009012,
        lng: -3.018322
      });
      map.addMarker({
        lat: 40.009571,
        lng: -3.013884
      });
    });

block contentBlock
  h1 Mapa de prueba
  .row
    #map