extends layout

block contentBlock

	.contenido
		h1 hola
		//if ie
			script(type='text/javascript', src='/vendors/excanvas/excanvas.js')
		script(src='/build/qrcode.js')
		canvas#test
		script
			var qrcodedraw = new qrcodelib.qrcodedraw();
			qrcodedraw.draw(document.getElementByID('test'),"this text will be in the code!",function(error,canvas){
			if(error) {
			return console.log('Error =( ',error);
			}
			console.log('success!');
			});
		h1 hola
