extends layout

block contentBlock

    .contenido
        form
            textarea(name='msg', rows='10', cols='40') Escribe aqui lo que quieras que contenga tu QR!
            a().create_qr.btn update
            //- input(type='button', value='update', onclick='update_qrcode()')
        #qr

block javascript
    script(type='text/javascript')
        $(document).ready(function() {
            $('a.create_qr').click( function () {
                update_qrcode();
            });
        });