extends layout

block contentBlock
    
    .container
        form(action='/api/user', id="form_signup", method='post')
            input(type='text', id="username", placeholder='Username')
            input(type='email', id="email", placeholder='Email')
            input(type='password', id="password", placeholder='Password')
            
            a(title='Regístrate').btn.btn-large.submit Regístrate

block javascript
    script(type='text/javascript')
        $(document).ready(function() {
            $('.submit').click(function () {
                var hashPass = CryptoJS.MD5($('#password').val()).toString();
                $('#password').val(hashPass);
                
                console.log(data, "data: ");

                var data = {
                    username: $("#username").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                }

                console.log(data, "data");

                $.ajax({
                    type: "POST",
                    url: "/api/user",
                    data: data,
                    success: function () {
                        window.location.href = '/';
                    }   
                });            
            });
        });