extends layout

block contentBlock
    
    .container
    div.formsignup
        form(action='/api/user', id="form_signup", method='post')
            div.signuptittle
               h1 REGISTRATE
            div
               input(type='text', id="username", placeholder='Username')
               input(type='email', id="email", placeholder='Email')
               input(type='password', id="password", placeholder='Password')
         div.buttonsignup.a(title='Regístrate').btn.btn-large.submit Regístrate

    .error_message

block javascript
    script(type='text/javascript')
        $(document).ready(function() {
            $('.submit').click(function () {
                
                var data = {
                    username: $("#username").val(),
                    email: $("#email").val(),
                    password: CryptoJS.MD5($('#password').val()).toString()
                }

                $.ajax({
                    type: "POST",
                    url: "/api/user",
                    data: data,
                    success: function () {
                        window.location.href = '/';
                    },
                    error: function() {
                        $('.error_message').text("El usuario o el email ya existen. Vuelve a intentarlo.");
                    }
                });
            });
        });
