extends layout

block contentBlock

  .content
      .opcionesSocial
        | formulario con filtros que ira a la derecha con un div llamado opcionesSociales
      h1 Mis amigos
      form.buscarAmigos
        input(type='text', name='amigoBuscado', value='Buscar...', size='150')
      p
        | Aqui vendria una lista con tus amigos, si fueran muchso tendrias botones para pasar las paginas