extends layout
//prueba antonio
block contentBlock

	.content
		.opcionesSocial
		h1 Tu tablón
		div.amigosRecomendados
			h2 Puede que conozcas a
			ul
				li
					img.fotoRecomendados(src='img/alberto.jpg', alt='Foto perfil') 
					|Alberto Gonzalez
				li
					img.fotoRecomendados(src='img/alejandra.jpg', alt='Foto perfil') 
					|Alejandra Gonzalez	
		div.tablon
			form.buscarAmigos
				input(type='text', name='amigoBuscado', placeholder='Busca tus amigos', size='90%')
			div.notificacion
				img.fotoTablonPerfil(src='img/antonio.jpg', alt='Foto perfil') 
				h2 Antonio Irízar
				p
					|se ha unido al evento spice girls
					img.fotoTablonEvento(src='img/spice_girls.jpg', alt='Foto notificacion')
			div.notificacion
				img.fotoTablonPerfil(src='img/antonio.jpg', alt='Foto perfil') 
				h2 Antonio Irízar
				p
					|ahora es amigo de Raul Marcos
					img.fotoTablonEvento(src='img/raul_marcos.jpeg', alt='Foto notificacion')
