@import "flat-ui.css";
.topbar {
  display: block;
  background-color: #F0F;
}
.topbar #nav_bar_left {
  float: left;
}
.topbar #nav_bar_left img {
  height: 20px;
}
.topbar #nav_bar_right {
  float: right;
}
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.topbar #nav_bar {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #000000;
  /*background-color: #16a085;*/
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.topbar #nav_bar li {
  float: left;
}
.topbar #nav_bar li .logo {
  width: 200px;
}
.topbar #nav_bar li a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #bdc3c7;
  border-right: 1px solid #ccc;
}
.topbar #nav_bar li a:hover {
  color: #ecf0f1;
  background-color: #1abc9c;
}
