@import "flat-ui.css";
#nav_bar {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #16a085;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#nav_bar li {
  float: left;
}
#nav_bar li .logo {
  width: 200px;
}
#nav_bar li a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #bdc3c7;
  border-right: 1px solid #ccc;
}
#nav_bar li a:hover {
  color: #ecf0f1;
  background-color: #1abc9c;
}
.Descarga {
  font-size: 1em;
  font-style: Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 1000;
  color: #000000;
}
/*link para la descarga de Play Store en el pie de pagina*/
.linkAndroid {
  position: absolute;
  padding: 0px 590px;
  width: 100px;
}
> a {
  display: block;
  text-decoration: none;
  background-color: #F7D358;
  border-radius: 1px;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  border: none;
}
.linkAndroid a:hover {
  background-color: #F7FE2E;
}
.ImagenPerfil {
  float: right;
}
.listaMenu li {
  padding: 0;
  margin: 0;
  display: inline;
}
.listaMenu li a {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 25px;
  float: left;
  color: #ffffff;
  text-align: center;
}
.listaMenu li a:hover {
  background-color: #424242;
  margin-top: -2px;
  padding-bottom: 12px;
}
.buscar {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
  height: 25px;
  float: right;
  color: #ffffff;
  text-align: center;
}
.listaLogin {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 500px;
  margin-right: 30px;
  color: #ffffff;
  text-align: rigth;
}
.logo {
  display: inline;
  font-size: 4em;
  float: left;
}
.login {
  display: inline;
  float: right;
}
.pieDePagina {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ecf0f1;
  background-color: #16a085;
}
/*css de social */
.amigosRecomendados {
  float: right;
  width: 300px;
  height: 100%;
}
.amigosRecomendados ul {
  list-style: none;
}
.tablon {
  margin-left: 30px;
  width: 80%;
}
.notificacion {
  height: 200px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.fotoTablonPerfil {
  float: left;
  width: 80px;
  height: 80px;
}
.fotoTablonEvento {
  width: 80px;
  height: 80px;
}
.fotoRecomendados {
  width: 80px;
  height: 80px;
}
/* css de descubrir */
.sp {
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 12px;
  font-style: italic;
}
.pEvento {
  margin-top: -320px;
  padding-left: 300px;
  font-size: 18px;
  font-style: bold;
}
.botonBuscar {
  margin-top: 20px;
  padding-left: 30px;
  background: transparent;
  color: blue;
}
.botonAdd {
  margin-top: 20px;
  padding-left: 1000px;
  background: transparent;
  color: blue;
}
.linea {
  margin-top: -280px;
  height: 300px;
  margin-left: 250px;
  border-left-width: 2px;
  border-left-style: solid;
}
.tablonEventosEncontrados {
  margin-left: 100px;
  width: 80%;
}
.aplicacion {
  float: right;
  width: 300px;
  height: 100%;
  font-size: 10px;
}
.descripcion {
  text-align: justify;
  font-size: 15px;
}
.eventos {
  text-align: left;
  font-size: 13px;
}
.imagEvent {
  font-size: 16px;
  text-align: center;
}
