
@import "flat-ui.css";

@turquoise: #1ABC9C;
@greenSea: #16A085;

@clouds: #ECF0F1;
@silver: #BDC3C7;

@concrete: #95A5A6;
@asbestos: #7F8C8D;

@emerland: #2ECC71;
@nephritis: #27AE60;

@peterRiver: #3498DB;
@belizeHole: #2980B9;

@amethyst: #9B59B6;
@wisteria: #8E44AD;

@wetAsphalt: #34495E;
@midnightBlue: #2C3E50;

@sunFlower: #F1C40F;
@orange: #F39C12;

@carrot: #E67E22;
@pumpkin: #D35400;

@alizarin: #E74C3C;
@pomegranate: #C0392B;


body {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}

.topbar {
    display: block;
    background-color: @clouds;
    color: #bdc1c5;

    border-bottom: 4px solid @silver;

    height: 130px;
    overflow: hidden;

    #nav_bar_left {
        float: left;
        width: 320px;
        padding: 10px;
    }

    #nav_bar_right {
        float: right;

        margin: 40px;

        .navbar li a {
            // padding: 14px 35px 17px;
            span {
                margin-right: 3px;
            }
        }

    }
}

.container {
    padding: 20px;
    padding-bottom: 100px;
}

.bottombar {
    border-top: 2px solid @silver;
    background-color: @clouds;
    color: @greenSea;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    text-align: center;
}

// SPECIFIC HOME

.events {
    .event {
        width: 20%;
        height: 200px;
        float: left;
        margin: 8px;
    }
}

// SPECIFIC QRTEST

.create_qr {
    width: 57px;
    margin: 10px;
}

// SPECIFIC MAP

#map{
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:500px;
}

// SPECIFIC CALENDAR

#calendar{
  align: center;
  width: 390px;
  //padding: 1000px;
  margin: 200 auto 200 auto;
}

#calendar.large{
  height:300px;
}
